@charset "utf-8";
/* CSS Document */

html {
  scroll-behavior: smooth;
}

::-moz-selection { /* Code for Firefox */
  color: white;
  background: #e5212b;
}

::selection {
  color: white;
  background: #e5212b;
}

body
{
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	text-align: center;
}

h2

{
	font-size: 42px;
	padding: 40px 0px 40px 0px;
	color:#333;
}

p

{
	font-size: 20px;
	color: #333;
	line-height: 30px;
}
.content-width

{
	max-width: 960px;
	margin: 0 auto;	
}

/* NAV */
.nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #333;
  justify-content: space-between;
  z-index: 100;
}

.nav-brand {
  color: #393e46;
  margin-left: 0.9375rem;
  margin-right: auto;
}



ul.nav-menu {
  list-style: none;
  display: flex;
}

a.nav-menu-link {
  text-decoration: none;
  color: #fff;
  margin: 0 0.9375rem;
  padding: 0.9375rem;
}


/* SIDE-NAV */
.side-nav {
  position: fixed;
  top: 5rem;
  left: -15.6rem;
  height: 100%;
  width: 15.6rem;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
  opacity: 0.9;
  overflow-x: hidden;
  background-color: #111;
  transition: 0.5s;
}

.side-nav-header {
  color: #fff;
}

ul.side-nav-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 28rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

li.side-nav-item {
  position: relative;
  margin-bottom: 0.9375rem;
}

a.side-nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  cursor: pointer;
}

/* HAMBUGER-ICON */
.hamburger-icon,
span.hamburger-line {
  display: none;
}

.hamburger-icon {
  width: 2.25rem;
  height: 1.625rem;
  margin-right: 0.9375rem;
  position: relative;
  cursor: pointer;
}

span.hamburger-line {
  background-color: #fafcf8;
  position: absolute;
  width: 100%;
  height: 0.25rem;
  border-radius: 0.25rem;
}

.hamburger-icon span:nth-of-type(1) {
  top: 0;
}

.hamburger-icon span:nth-of-type(2) {
  top: 0.6875rem;
}

.hamburger-icon span:nth-of-type(3) {
  bottom: 0;
}

.hamburger-icon.active span:nth-of-type(1) {
  transform: translateY(11px) rotate(-45deg);
}

.hamburger-icon.active span:nth-of-type(2) {
  display: none;
}

.hamburger-icon.active span:nth-of-type(3) {
  transform: translateY(-11px) rotate(45deg);
}



/* NAV */
.nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #333;
  justify-content: space-between;
  z-index: 100;
}

.nav-brand {
  color: #393e46;
  margin-left: 0.9375rem;
  margin-right: auto;
}

a.nav-logo {
  text-decoration: none;
  color: #393e46;
  letter-spacing: 0.3rem;
}

ul.nav-menu {
  list-style: none;
  display: flex;
}

a.nav-menu-link {
  text-decoration: none;
  color: #fff;
  margin: 0 0.9375rem;
  padding: 0.9375rem;
	display: block;
}

/* SIDE-NAV */
.side-nav {
  position: fixed;
  top: 5rem;
  left: -15.6rem;
  height: 100%;
  width: 15.6rem;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
  opacity: 0.9;
  overflow-x: hidden;
  background-color: #111;
  transition: 0.5s;
}

.side-nav-header {
  color: #fafcf8;
}

ul.side-nav-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 28rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

li.side-nav-item {
  position: relative;
  margin-bottom: 0.9375rem;
}

a.side-nav-link {
  color: #fafcf8;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  cursor: pointer;
}

/* HAMBUGER-ICON */
.hamburger-icon,
span.hamburger-line {
  display: none;
}

.hamburger-icon {
  width: 2.25rem;
  height: 1.625rem;
  margin-right: 0.9375rem;
  position: relative;
  cursor: pointer;
}

span.hamburger-line {
  background-color: #fafcf8;
  position: absolute;
  width: 100%;
  height: 0.25rem;
  border-radius: 0.25rem;
}

.hamburger-icon span:nth-of-type(1) {
  top: 0;
}

.hamburger-icon span:nth-of-type(2) {
  top: 0.6875rem;
}

.hamburger-icon span:nth-of-type(3) {
  bottom: 0;
}

.hamburger-icon.active span:nth-of-type(1) {
  transform: translateY(11px) rotate(-45deg);
}

.hamburger-icon.active span:nth-of-type(2) {
  display: none;
}

.hamburger-icon.active span:nth-of-type(3) {
  transform: translateY(-11px) rotate(45deg);
}


@media (max-width: 768px) {
  .side-nav {
    display: flex;
    left: -15.6rem;
  }

  ul.nav-menu {
    display: none;
  }

  .hamburger-icon,
  span.hamburger-line {
    display: inline-block;
    transition: all 0.4s;
  }
}


@media (max-width: 768px) {
  .side-nav {
    display: flex;
    left: -15.6rem;
  }

  ul.nav-menu {
    display: none;
  }

  .hamburger-icon,
  span.hamburger-line {
    display: inline-block;
    transition: all 0.4s;
  }
}


.nav-menu-item:hover {
  background-color: white;
}

.nav-menu-item:hover a {
  color: #e5212b;
}
#herobox

{
	background-image: url(../images/herobox.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	display: flex;
	padding: 40px 0px;
	align-items: center;
 	justify-content: center;
	text-align: center;
	color: white;
}




h1

{
	font-size: 52px;
	padding: 50px 0px 30px;
	text-shadow: 2px 2px 4px #000000;


}

.grid-container {
  display: grid;
  grid-gap: 10px;
  padding: 10px;
}

.grid-container > div {
  text-align: center;
  font-size: 30px;
}

.item1 {
  grid-column-start: 1;
  grid-column-end: 5;
}



.item1 i{
	font-size: 267px;
	color: green;
	padding: 20px;
	
}


.flex{
	display: flex;
	justify-content: center;
}

.flex a{
	padding: 10px;
}
.back-to-home

{
	background-color: #e5212b;
	border-radius: 4px;
	color: white;
	margin: 10px;
	padding: 10px 30px;
	border: 1px solid #e5212b;
	font-size: 20px;
	text-decoration: none;
	margin-top: 50px;
}

.see-gallery

{
	background-color: #838587;
	border-radius: 4px;
	color: #fff;
	margin: 10px;
	padding: 10px 30px;
	border: 1px solid transparent;
	font-size: 20px;
	text-decoration: none;
	margin-top: 50px;
}

.flex a:hover{
	color: #e5212b;
	background: #FFFFFF;
	border: 1px solid #e5212b
	
}




footer{
	background-color: #333;
	color: white;
}

footer a

{
	color: white;
}

footer div{
	
	padding: 10px 0px;
}

footer i{
	padding-left: 2%;
}

footer i:hover{
	color:#e5212b
}

.footer-right{
	float:right;
	width:50%;
		background-color: #333;
}

.footer-left{
	float:left;
	width:50%;
	background-color: #333;
}

